In [47]:
import pandas as pd

In [ ]:
while True:
    user_input = int(input('Enter a positve integer '))

    try:
        number = int(user_input)

        if number >= 0:
            print(user_input)
            break
        else:
            print("must be a positive integer")
            continue

    except ValueError:
        print('Specify a positive integer.')

Enter a positve integer -1
must be a positive integer

In [49]:
if user_input > 0:
  even = []
  odd = []
  fibonacci = []
  for i in range(user_input):
    even.append(2*i)

pd.DataFrame({'Even' :even})

   Even
0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18

In [50]:
if user_input > 0:
  even = []
  odd = []
  fibonacci = []
  for i in range(user_input):
    odd.append(2*i+1)

pd.DataFrame({'Odd' :odd})

   Odd
0    1
1    3
2    5
3    7
4    9
5   11
6   13
7   15
8   17
9   19

In [51]:
if user_input > 0:
  even = []
  odd = []
  fibonacci = [0,1]
  for i in range(user_input):
    if i > 1:
       fibonacci.append(fibonacci[i-1]+fibonacci[i-2])

pd.DataFrame({'fibo' :fibonacci})

   fibo
0     0
1     1
2     1
3     2
4     3
5     5
6     8
7    13
8    21
9    34

In [54]:
  even = []
  odd = []
  fibonacci = [0,1]
  if user_input > 0:
    for i in range(user_input):
       even.append(2*1)
       odd.append(2*i+1)
       if i > 1:fibonacci.append(fibonacci[i-1]+fibonacci[i-2])
  pd.DataFrame({'Even' :even, 'Odd' :odd, 'fibo' :fibonacci})

   Even  Odd  fibo
0     2    1     0
1     2    3     1
2     2    5     1
3     2    7     2
4     2    9     3
5     2   11     5
6     2   13     8
7     2   15    13
8     2   17    21
9     2   19    34